.portfolio {
    height: 100vh;
    background-color: $bodyBg;
    color: #fff;

    .container {
        display: grid;
        justify-items: center;
        align-content: center;
        
        .heading-section {
            padding: 30px 0 62px 0;
            font-size: 2rem !important;
        }
    }
}